*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Noto Sans Symbols', sans-serif;

}


:root {
	--color-purple: #7289da;
	--color-blue: #255ee9;
	--color-grey: #f6f6f6;
	--color-black: #23272a;
	--color-white: #ffffff;
}
.debug{

    border: 1px solid black;

}

.container{
    max-width: 1200px;
    /* centratura */
    margin: 0 auto;
    padding: 5px;
}

.flex-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.justify-between{
    justify-content: space-between;
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
    align-content: center;
}
button{
    
    border: 0;
    
    padding: 10px 20px;
    border-radius: 20px;
}

/* content */
header{
    background-color: var(--color-blue);
}


ul{
    list-style: none;
    
}

li{
    padding: 10px;
}

a{
    font-weight: 600;
    color:var(--color-white);
    display: block;
    padding: 6px 10px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* header content */
h1{
    padding: 15px 0;
    font-size: 2em;
}
h2{
    font-size: 1.8em;
    padding: 10px 0;
}

#header-content{
    color: var(--color-white);
    background-image: url('../img/jumbo.png');
    background-repeat: no-repeat;
    background-size: cover;

}

#header-content .container{
    min-height: 500px;
    max-width: 800px;
    padding: 80px 20px;
    text-align: center;
    
}

.flex-btn{
    margin: 20px 90px;
    justify-content: space-evenly;
}

/* footer */
footer{
    background-color: var(--color-black);
}

.footer-top{
    align-items: flex-start;
    border-bottom: 1px solid var(--color-purple);
}
li{
    color: var(--color-white);
}


/* da togliere */


.immagine{
    width: 20%;
}


.lastelement{
    display: flex;
    flex-direction: row-reverse;
    width: 20%;
    
}

.italianFlag{
    height: 0.8em;
    width: auto;
    
}

.img-container{
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img-socials{
   height: 30px;
   color: white;
}

.white-btn{
    background-color: var(--color-white);
    color: var(--color-black);
}
    
.black-btn{
    background-color: var(--color-black);
    color: var(--color-white);
}

.blue-btn{
    background-color: var(--color-blue);
    color: var(--color-grey);
}

.purple-btn{
    background-color: var(--color-purple);
    color: var(--color-white);
}

.footer-bottom{
    padding: 20px 0;
}

.main_description{
    
    font-size: 2em;
    color: var(--color-purple);
}
.category{
    color: var(--color-purple);
}

.even{
    background-color: var(--color-grey);
}

.odd{
    background-color: var(--color-white);
}

.section-text{
    width: 40%;
    padding: 30px 10px;
}

.section-image{
    width: 60%;
}

/* per adattare la dimensione dell'immagine a qiuella del conteitore */
main img{
    width: 100%;
    /* per fare in modo che l'elemeto nmon superi le sue dimensioni originali ( per non perdere qualita) */
    max-width: 100%;
}

.reverse{
    
    flex-flow: row-reverse wrap;
}

.wave img{
    display: block;
    opacity: 0.03;
}

.rotate{
    transform: rotate(180deg);
}

.section-text.last{
    width: 100%;
    padding: 30px 10px;
}

.section-image.last{
    width: 100%;
}

.starred h4{
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: contain;
    
}