

/* flex classes */
.flex-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.justify-between{
    justify-content: space-between;
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
    align-content: center;
}

.flex-btn{
    margin: 20px 90px;
    justify-content: space-evenly;
}


/* content */
header{
    background-color: var(--color-blue);
}


ul{
    list-style: none;

}

li{
    line-height: 1em;
    padding: 10px 0;
    color: var(--color-white);
}


/* header content */
h1{
    
    padding: 5px 0;
    font-size: 2.5em;
}
.container span{
    font-size: 1.1em;
    line-height: 0.4em;
}
h2{
    font-size: 1.8em;
    padding: 10px 0;
    line-height: 1.5em;
}






#header-content{
    color: var(--color-white);
    background-image: url('../img/jumbo.png');
    background-repeat: no-repeat;
    background-size: cover;

}

#header-content .container{
    min-height: 500px;
    max-width: 800px;
    padding: 80px 20px;
    text-align: center;

}

/* main */

.even{
    background-color: var(--color-grey);
}

.odd{
    background-color: var(--color-white);
}

.section-text{
    width: 40%;
    padding: 30px 10px;
}

.section-image{
    width: 60%;
}


main img{
    /* per adattarla a dimensione del contenitore */
    width: 100%;
    /* per fare in modo che l'elemeto nmon superi le sue dimensioni originali ( per non perdere qualita) */
    max-width: 100%;
}

/* wave between lines */
.wave img{
    display: block;
    opacity: 0.03;
}

.rotate{
    transform: rotate(180deg);
} 

.reverse{

    flex-flow: row-reverse wrap;
}


.starred{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
    padding: 0 30px;
}

.starred h4{
    font-size: 1.8em;
    font-weight: 600;
    padding: 10px 50px;
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: contain;

}

.centered-text{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.last{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last .section-text{
    width: 100%;
    text-align: center;
}

.last .section-image{
    width: 100%;
}




/* footer */

footer{
    padding-top: 80px;
    background-color: var(--color-black);
}

.footer-top{
    align-items: flex-start;
    border-bottom: 1px solid var(--color-purple);
    
}



.italianFlag{
    height: 0.8em;
    width: auto;

}

.img-container{
    width: 180px;
    height: 40px;
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}

.footer-main_description{
    line-height: 1.1em;
    font-size: 1.8em;
    font-weight: bolder;
    color: var(--color-purple);
    
}


.category{
    color: var(--color-purple);
}
#footer-bottom{
    padding: 20px 0;
    padding-bottom: 40px;
}



